In [1]:
import pandas as pd
import sqlite3
import requests
import numpy as np
import folium
import folium.plugins 
import matplotlib.pyplot as plt

# Data for the RV grouping project

Online I found a complete list of camp grounds in CSV format from http://www.poi-factory.com/node/17657

I will now extract all the required information
- Latitude and Longitude Data
- Name of the Camp Site
- Save the data to a sql3 database for wasy retreival and querying

In [ ]:

df_raw = pd.read_csv('ParksandCampsites.csv', header=None)

In [ ]:
df_raw = df_raw.set_axis(['Longitude', 'Latitude', 'Campsite_Name','Address'], axis=1)
df_raw

In [ ]:
con = sqlite3.connect('Campsite_data_4k.db')
df_raw.to_sql('Sites',con)
con.close()

In [2]:
con = sqlite3.connect('Campsite_data_4k.db')
query = ''' SELECT Campsite_Name, Latitude, Longitude FROM Sites WHERE Campsite_Name like '%RV%' AND Campsite_Name not like '%closed%'   '''
df_RV = pd.read_sql_query(query,con).set_index('Campsite_Name').drop_duplicates()
con.close
df_RV

                                               Latitude   Longitude
Campsite_Name
10 Acres Campground and RV Park               44.030277  -73.403468
1015 RV Park                                  26.145834  -97.958195
11 Bridges Campground and RV Park             51.415188 -112.632344
115 Creek Rest Area (no services)             58.716979 -124.912576
1202 Motor Inn and RV Park                    62.387044 -140.873463
...                                                 ...         ...
Zion RV and Campground                        37.236637 -112.856060
Zion West RV Park                             37.231969 -113.364556
Zion's Gate RV Resort                         37.170192 -113.373832
Zuni Village RV Park                          35.224768 -114.014515
Zunino/Jiggs Reservoir Recreation Area - BLM  40.457238 -115.653227

[5311 rows x 2 columns]

## Map with the location Data

In [ ]:
# create map of RV parks using latitude and longitude values
latitude = df_RV['Latitude'].mean()
longitude = df_RV['Longitude'].mean()
map_national_RV_parks = folium.Map(location=[latitude, longitude], zoom_start=4)

# add markers to map
marker_cluster = folium.plugins.MarkerCluster().add_to(map_national_RV_parks)
for lat, lng, name in zip(df_RV['Latitude'], df_RV['Longitude'], df_RV.reset_index()['Campsite_Name']):
    label = "<a  target='_blank' href='https://www.google.com/search?q={}'>{}</a>".format(name.replace(' ','%20'),name)
    #label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(marker_cluster)  

map_national_RV_parks

In [ ]:
map_national_RV_parks.save('RV_Parks_Map.html')

In [ ]:
CLIENT_ID = '24XQ2KIMXRYFZEWHRQZ1TSNKKDPFSLILAR1QNI1XPZREE5IF' # your Foursquare ID
CLIENT_SECRET = '4USSMOW03WWKLQEU5RWGMFPD3RSTDCNUS2KUUB0HEYUMAJGT' # your Foursquare Secret
ACCESS_TOKEN = 'BC2RNYUFSVGTBESYEFA1BZHJ1LMEBA5TXOZ1U2ZAJWXTRZZ1' # your FourSquare Access Token
VERSION = '20180604'
LIMIT = 60
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

In [ ]:
## Neighboring venues data

Now I will use Foursquare to download neighboring venue data and save them to my sql3 database

In [ ]:
try:
    con = sqlite3.connect('Campsite_data_4k.db')
    query = ''' SELECT distinct(Campsite_Name) FROM Venues'''
    completed_venues = pd.read_sql_query(query,con)['Campsite_Name'].tolist()
    con.close
except:
    completed_venues = []
    
print('Number of completed venues that will not be run again: {}'.format(len(completed_venues)))
for key, item in df_RV.reset_index().iterrows():
    venues_list = []
    
    # create the API request URL
    url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
        CLIENT_ID, 
        CLIENT_SECRET, 
        VERSION, 
        item['Latitude'], 
        item['Longitude'], 
        10000, #radius
        LIMIT)
    
    if not (item['Campsite_Name'] in completed_venues):
        print('New Site: {}'.format(item['Campsite_Name']))
        results = requests.get(url).json()["response"]['groups'][0]['items']
        for v in results:
            temp = {}
            temp['Campsite_Name']= item['Campsite_Name']
            temp['Latitude']= item['Latitude']
            temp['Longitude']= item['Longitude']
            temp['Venue']=v['venue']['name']
            temp['Venue_Latitude']=v['venue']['location']['lat']
            temp['Venue_Longitude']=v['venue']['location']['lng']  
            temp['Venue_Category']=v['venue']['categories'][0]['name']
            venues_list.append(temp)
        
        nearby_venues = pd.DataFrame(venues_list)
        con = sqlite3.connect('Campsite_data_4k.db')
        nearby_venues.to_sql('Venues',con,if_exists='append')
        con.close()

## Check data integrity

In [3]:
con = sqlite3.connect('Campsite_data_4k.db')
query = ''' SELECT * FROM Venues'''
completed_venues = pd.read_sql_query(query,con).drop('index',axis=1)
completed_venues

,Campsite_Name,Latitude,Longitude,Venue,Venue_Latitude,Venue_Longitude,Venue_Category
0,10 Acres Campground and RV Park,44.030277,-73.403468,Goodies Snack Bar,44.063204,-73.407221,Snack Place
1,10 Acres Campground and RV Park,44.030277,-73.403468,The Bridge Restaurant,44.036137,-73.417700,American Restaurant
2,10 Acres Campground and RV Park,44.030277,-73.403468,West Addison General Store,44.064368,-73.406900,Convenience Store
3,10 Acres Campground and RV Park,44.030277,-73.403468,Stewart's Shops,44.047061,-73.459426,Convenience Store
4,10 Acres Campground and RV Park,44.030277,-73.403468,Crown Point State Historic Site,44.028508,-73.426759,Historic Site
...,...,...,...,...,...,...,...
180228,Zuni Village RV Park,35.224768,-114.014515,Rattlesnake wash,35.205185,-113.944803,River
180229,Zuni Village RV Park,35.224768,-114.014515,Hertz,35.257405,-113.947516,Rental Car Location
180230,Zuni Village RV Park,35.224768,-114.014515,American Woodmark Corporation,35.266018,-113.950768,Factory
180231,Zuni Village RV Park,35.224768,-114.014515,Kingman Airport Cafe,35.258943,-113.944210,CafÃ©
180232,Zunino/Jiggs Reservoir Recreation Area - BLM,40.457238,-115.653227,Jiggs Bar,40.427223,-115.665382,Bar

## Prepare the data for analysis

In [4]:
completed_venues.groupby('Campsite_Name').count()

,Latitude,Longitude,Venue,Venue_Latitude,Venue_Longitude,Venue_Category
Campsite_Name,,,,,,
10 Acres Campground and RV Park,15,15,15,15,15,15
1015 RV Park,60,60,60,60,60,60
11 Bridges Campground and RV Park,18,18,18,18,18,18
1202 Motor Inn and RV Park,4,4,4,4,4,4
1776 RV and Campground,14,14,14,14,14,14
...,...,...,...,...,...,...
Zion RV and Campground,25,25,25,25,25,25
Zion West RV Park,60,60,60,60,60,60
Zion's Gate RV Resort,57,57,57,57,57,57
Zuni Village RV Park,53,53,53,53,53,53
Zunino/Jiggs Reservoir Recreation Area - BLM,1,1,1,1,1,1

In [5]:
completed_venues.groupby('Latitude').count()

,Campsite_Name,Longitude,Venue,Venue_Latitude,Venue_Longitude,Venue_Category
Latitude,,,,,,
22.901054,60,60,60,60,60,60
22.905953,60,60,60,60,60,60
23.686356,15,15,15,15,15,15
23.701440,13,13,13,13,13,13
24.150010,60,60,60,60,60,60
...,...,...,...,...,...,...
64.832576,60,60,60,60,60,60
64.835300,60,60,60,60,60,60
64.839585,60,60,60,60,60,60
64.962006,14,14,14,14,14,14
66.372195,2,2,2,2,2,2

## We will need to group the camp sites by their lattitudes because of multiple sites that exist with the same name

In [6]:
# Let's look at the information regarding venues around the campsites
completed_venues.groupby('Latitude').count()['Venue_Category'].describe()

count    5279.000000
mean       34.141504
std        22.667620
min         1.000000
25%        11.000000
50%        33.000000
75%        60.000000
max       120.000000
Name: Venue_Category, dtype: float64

In [7]:
print('There are {} unique categories.'.format(len(completed_venues['Venue_Category'].unique())))

There are 596 unique categories.

In [8]:
# Let's generate a dataframe with dummy variables for all the venue types

Camp_sites_onehot = pd.get_dummies(completed_venues[['Venue_Category']], prefix="", prefix_sep="")
Camp_sites_onehot

,ATM,Accessories Store,Adult Boutique,Advertising Agency,Afghan Restaurant,African Restaurant,Airport,Airport Gate,Airport Lounge,Airport Service,...,Whisky Bar,Windmill,Wine Bar,Wine Shop,Winery,Wings Joint,Women's Store,Yoga Studio,Zoo,Zoo Exhibit
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180228,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
180229,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
180230,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
180231,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
180232,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
Camp_sites_onehot['Latitude'] = completed_venues['Latitude']
Camp_sites_onehot = Camp_sites_onehot[[Camp_sites_onehot.columns[-1]] + list(Camp_sites_onehot.columns[:-1])]

In [10]:
Camp_sites_onehot

,Latitude,ATM,Accessories Store,Adult Boutique,Advertising Agency,Afghan Restaurant,African Restaurant,Airport,Airport Gate,Airport Lounge,...,Whisky Bar,Windmill,Wine Bar,Wine Shop,Winery,Wings Joint,Women's Store,Yoga Studio,Zoo,Zoo Exhibit
0,44.030277,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,44.030277,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,44.030277,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,44.030277,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,44.030277,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180228,35.224768,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
180229,35.224768,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
180230,35.224768,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
180231,35.224768,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
180232,40.457238,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
campsite_grouped = Camp_sites_onehot.groupby('Latitude').mean().reset_index()
campsite_grouped

,Latitude,ATM,Accessories Store,Adult Boutique,Advertising Agency,Afghan Restaurant,African Restaurant,Airport,Airport Gate,Airport Lounge,...,Whisky Bar,Windmill,Wine Bar,Wine Shop,Winery,Wings Joint,Women's Store,Yoga Studio,Zoo,Zoo Exhibit
0,22.901054,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,22.905953,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,23.686356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,23.701440,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,24.150010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5274,64.832576,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5275,64.835300,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5276,64.839585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5277,64.962006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5278,66.372195,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
campsite_grouped.describe()

,Latitude,ATM,Accessories Store,Adult Boutique,Advertising Agency,Afghan Restaurant,African Restaurant,Airport,Airport Gate,Airport Lounge,...,Whisky Bar,Windmill,Wine Bar,Wine Shop,Winery,Wings Joint,Women's Store,Yoga Studio,Zoo,Zoo Exhibit
count,5279.000000,5279.000000,5279.000000,5279.000000,5279.000000,5279.000000,5279.000000,5279.000000,5279.000000,5279.000000,...,5279.000000,5279.000000,5279.000000,5279.000000,5279.000000,5279.000000,5279.000000,5279.000000,5279.000000,5279.000000
mean,38.293418,0.001168,0.000528,0.000185,0.000054,0.000006,0.000036,0.004599,0.000004,0.000070,...,0.000152,0.000037,0.001384,0.000796,0.001308,0.001870,0.000762,0.000230,0.000939,0.000176
std,7.630548,0.008987,0.004520,0.005266,0.001978,0.000324,0.000928,0.021390,0.000299,0.001423,...,0.001964,0.002095,0.007841,0.005312,0.010819,0.007233,0.005398,0.002576,0.006903,0.003042
min,22.901054,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32.670754,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,36.742012,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,43.521442,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,66.372195,0.250000,0.166667,0.333333,0.125000,0.016667,0.034483,0.500000,0.021739,0.050000,...,0.071429,0.142857,0.250000,0.250000,0.444444,0.200000,0.250000,0.111111,0.200000,0.116667